---
import { banners, setBannerFromAstro, SITE_ID_COOKIE } from "@utils/banner.configs";
const SITE_ID = SITE_ID_COOKIE;

const banner = setBannerFromAstro(Astro);
const locale = Astro.currentLocale!;
console.log("currentLocale:", { locale });
const action = undefined; // `/${locale}/`;
const method = undefined; // "POST";

/** with <form method="POST" /> */
// if (Astro.request.method === "POST") {
// 	try {
// 		const data = await Astro.request.formData();
// 		const val = data.get(SITE_ID)?.toString();
// 		if (val) {
// 			Astro.cookies.set(SITE_ID, val, { path: "/" });
// 			siteId = val;
// 			let banner = getBannerFromId(siteId);
// 			Astro.cookies.set(BANNER, banner, { path: "/" });
// 			console.log("BannerSetForm POST:", { siteId }, banner);
// 		}
// 	} catch (err) {
// 		if (err instanceof Error) {
// 			console.error("❌", err.message);
// 		}
// 	}
// }
---

<div class="p-2 bg-slate-400 text-slate-950 flex justify-between align-middle">
	<p class="leading-relaxed">Current Banner: <code>{JSON.stringify(banner.siteId)}</code></p>
	<form action={action} method={method} class="inline-block outline-1 outline-red-500">
		<label>
			<span class="text-sm opacity-80">Change banner:</span>
			<select name={SITE_ID} class="text-sm py-[0.335em] px-2">
				{
					Object.values(banners).map(({ host, siteId }) => (
						<option value={siteId} selected={siteId === banner.siteId}>
							{host}
						</option>
					))
				}
			</select>
		</label>
		<button class="text-sm py-1 px-2 bg-white" type="submit">→</button>
	</form>
</div>
