---
import { banners, getBannerFromId } from "@utils/banner.configs";

const locale = Astro.params.locale ?? Astro.currentLocale ?? Astro.preferredLocale!;
const siteId = Astro.params.siteId?.toUpperCase();
let banner = getBannerFromId(siteId);

const pathname = Astro.url.pathname;
const path = pathname.replace(RegExp(`\^/${banner.siteId}/${locale}/`), "");
---

<div class="p-2 bg-slate-400 text-slate-950 flex justify-between align-middle text-xs">
	<p class="leading-relaxed">Current Banner: <code>{JSON.stringify(banner.siteId)}</code></p>
	<details>
		<summary>{banner.host}</summary>
		<ul class="bg-white text-black shadow absolute right-1 mt-1 z-10 p-2 pl-6 text-sm">
			{
				Object.values(banners).map(({ host, siteId }) => {
					const selected = siteId === banner.siteId;
					return (
						<li
							aria-selected={selected}
							class={selected ? "list-[disclosure-closed] opacity-80" : "list-disc"}
						>
							{selected ? (
								host
							) : (
								<a class="text-sky-800 hover:text-black" href={`/${siteId}/${locale}/${path}`}>
									{host}
								</a>
							)}
						</li>
					);
				})
			}
		</ul>
	</details>
</div>
