---
import Layout from "@layouts/Layout.astro";

export interface PageResponse {
	// aemPageTitle: string;
	components: Array<any>;
	metaDescription: string;
	// metaTitle: string;
	// navTitle: string;
	persona: string;
	seoCanonicalURL: string;
	title: string;
}

let page = Astro.params.page;
const locale = Astro.params.locale;
const { currentLocale, preferredLocale, preferredLocaleList } = Astro;
const isApi = page?.includes("api/") && page?.endsWith(".json");
console.log("Catchall page:", {
	page,
	isApi,
	locale,
	currentLocale,
	preferredLocale,
	preferredLocaleList,
});

if (!page || isApi) {
	return new Response(null, {
		status: 404,
		statusText: "This is not an API page",
	});
}
const slug = page.split(".")[0];
const route = `${Astro.url.origin}/api/page.${slug}.json`;
// let resp: PageResponse;
// try {
// 	resp = await fetch(route).then((r) => r.json());
// } catch (err) {
// 	// return Astro.redirect("/404");
// 	return new Response(null, {
// 		status: 404,
// 		statusText: "Not found",
// 	});
// }
// const { components, metaDescription, persona, seoCanonicalURL, title } = resp;
---

<pre
	class="text-xs">
	{JSON.stringify({page, currentLocale, preferredLocale, preferredLocaleList}, null, "\t")}
</pre>
<!-- <Layout canonical={seoCanonicalURL} description={metaDescription} title={title}>
	<h1 class="text-5xl font-bold text-center my-16">{title}</h1>

	{
		components.map((component, i) => (
			<details open={false}>
				<summary>
					{i}. type: {component.type}
				</summary>
				<pre class="text-xs">
					{JSON.stringify(component, null, "\t")}
				</pre>
			</details>
		))
	}
</Layout> -->
