---
import Layout from "@layouts/Layout.astro";
import PdpWithSlots from "@layouts/PdpWithSlots";
import { getBannerDomain } from "@utils/banner.configs";

const sku = Astro.params.sku?.split(".html")?.[0] || "";
// const name = Astro.params.name?.replace(/-/g, " ");
const locale = Astro.currentLocale || "en-US";
const bannerDomain = getBannerDomain(Astro);
const route = `${bannerDomain}/zgw/product-core/v1/pdp//sku/${sku}`;
const headers: HeadersInit = { "x-api-lang": locale };
// const route = `${Astro.url.origin}/product/details.json?sku=${sku}`;
const data = await fetch(route, { headers }).then((r) => r.json());

const searchParams = Astro.url.searchParams;
const selectedSize = searchParams.get("size");
// console.log("searchParams?", searchParams.keys());
---

<Layout title={data.model.name}>
	<!-- <title slot="head">{data.model.name} | Foot Locker</title> -->
	<h1 class="text-2xl">Name: {data.model.name}</h1>
	<h2 class="text-xl">sku: {data.style.sku}</h2>

	<PdpWithSlots {...data} />

	<h3 class="text-xl bg-green-500/30 mb-2">selectedSize? {selectedSize}</h3>
	{
		Object.keys(data).map((key) => (
			<details open={false} class="mx-2">
				<summary class="px-2 py-1 cursor-pointer">{key}</summary>
				<pre class="text-xs"><!-- -->{JSON.stringify(data[key], null, "\t")}<!-- --></pre>
			</details>
		))
	}
</Layout>
